* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-container {
  background-color: #e3fdfd;
}
.middle-container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
}
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: lightpink;
}
